.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar nav nav nav"
    "sidebar children-container children-container children-container"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}
.header {
  background-color: #00a896;
  grid-area: header;
  color: #ffffff;
  font-size: x-large;
}

.header h1 {
  align-items: center;
}

.nav {
  grid-area: nav;
  color: #05668d;
}
.sidebar {
  grid-area: sidebar;
}
.children-container {
  grid-area: children-container;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "header"
      "nav"
      "sidebar"
      "."
      "children-container"
      "."
      "footer";
  }
}
