.header {
  grid-area: header;
  color: #ffffff;
  font-size: x-large;
}

.nav {
  grid-area: nav;
  color: #05668d;
}
.side {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header header header"
    "sidebar nav nav nav"
    "sidebar main main main"
    "sidebar footer footer footer";
  background-color: #00a896;
}

.footer {
  grid-row-start: footer;
}
