.sidebar {
  background-color: #028090;
  padding: 25px 15px;
  text-align: center;
}

.sidebar_avatar {
  height: 225px;
  width: 225px;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar_name {
  margin: 20px 0;
  font-size: 1.7rem;
}

.sidebar_title {
  font-size: large;
  background-color: #f1f1f1;
  border-radius: 30px;
}

.sidebar_location {
  font-size: medium;
  padding: 2px 0;
  margin: 20px -15px;
  padding-top: 6px;
}

.sidebar_contact {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
}

.sidebar_email {
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.sidebar_email:hover {
  transform: scale(2);
}
.resume {
  text-align: start;
}

@media only screen and (max-width: 600px) {
  .resume {
    text-align: center;
  }
}
