.input {
  font-family: "IM Fell Double Pica", serif;
}

button {
  background-color: #05668d;
  color: #000000;
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #05668d;
  justify-content: center;
  margin: 5em auto;
  padding: 5em;
  height: 200px;
  width: 450px;
  border-radius: 6px;
  transition: all 2s ease;
  text-align: center;
}

.form-container form {
  background-color: #00a896;
  border: 1px solid #a8a8a8;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
  width: 100%;
}

.form-container form input {
  width: 85%;
  padding: 5px 10px 5px 5px;
  margin: 1em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  transition: all 0.4s ease;
}

.form-container form {
  /* padding-top: 5%; */
}

.form-container form input:focus,
.form-container form input:active {
  border: 2px solid #00a896;
}

/* @media (max-width: 600px) {
  .form-container {
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .form-container h3 {
    margin-top: 5%;
  }

  .form-container form {
    display: flex;
    width: 120%;
    padding-top: 15%;
    align-items: center;
  }
} */
